<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    	Action
    	<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" style="display:block">
    	<li>
    		<%= link_to "Products", controller: 'welcome',action: 'product_display_homepage', id: 1, remote: true %>
    	</li>
    </ul>
</div>